@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --background: #f7f8f9;
  --foreground: #0b1a21;
  --subtext: #717171;
  --body: #4b5563;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2b2d2e;
    --foreground: #f8fafc;
  }
}
body {
  background: var(--background);
  font-family: 'Inter', Helvetica, sans-serif;
}