@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --background: #f8fafc;
  --foreground: #0b1a21;
  --subtext: #717171;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b1a21;
    --foreground: #f8fafc;
  }
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', Helvetica, sans-serif;
}

.projects a {
  color: var(--text-neutral-500);
}

